#cursor-dot {
  width: 10px;
  height: 10px;
  background: #5e616300;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1s linear;
  pointer-events: none;
  z-index:1000;
}
/* 全局样式（背景cover和video样式） */
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: 
    linear-gradient(180deg, #c8dcf2 0%, rgb(207 223 240) 50%, rgb(212 226 240) 100%);
}
.myVideo{
    width: 60%;
    height: 58%;
    object-fit: cover;
    position: fixed;
    /* top: 5vw; */
    left: 46vw;
    z-index: -1;
    opacity: 1;
    filter: saturate(1.2); /* 增加饱和度 */
    /* box-shadow: -20px 0px 100px 17px #c6dcf3ab; */
} 



.Stroke {
    position: fixed;
    bottom: 7%;
    font-size: 120px;

    opacity: 0.08;
    color: #dae2ec; /* 描边颜色 */
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-family:"Poppins-Bold";   
    letter-spacing: 10px;
    text-transform: uppercase;
    /* transform: rotate(-10deg); */
    opacity: 0.1;
    white-space: nowrap;
    transition: all 0.6s ease-out;
    /* bottom: 0; */
}
.pipe-bg {
height: 100vh;
/* background-size:100% 100%; */
/* mix-blend-mode: soft-light; */
opacity: 0.5;
}
a {
    display: block;
}
.return-btn {
    position: absolute;
    left: 7.5%;
    top: 12%;
    display: flex;
    height: 64px;
    width: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 52.706px;
    border: 1px solid #222;
    overflow: hidden;
    z-index: 200;
}

.return-btn .arrow {
    font-size: 34px;
    
}

.btn :hover {
    transform: scale(1.05);
    .arrow {
       /* transform:scale(0.95) translateX(-2px); */

     }

}

/* ------------------------图片滚动------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  position: absolute;
  left: 0;
  top: -2vw;
  user-select: none;
  overflow: hidden;
}

.center {
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 27%;
  transform: translate(-50%);
  user-select: none;
}

.items {
  
  transform-origin: center 500vh;/* 如果修改半径同步修改 */
  transform: rotate(0);
  user-select: none;
  display: flex;
}

.item {
  position: absolute;
  user-select: none;
  cursor: pointer;
  transform: translateX(-50%);
  transform-style: preserve-3d;
  perspective: 2800px;
}

.card {
  display: block;
  width: 46vw;
  height: 26vw;
  color: #fff;
  user-select: none;
  border-radius: 17px;
  overflow: hidden;
  cursor: grab;
  position: relative;
  /* transform-style: preserve-3d; */
  box-shadow: 0px 14px 39px 0px rgb(3 16 55 / 25%);
  /* border: 10px solid black; */
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  /* filter: grayscale(100); */
  pointer-events: none;
}

/* @media screen and (max-height: 1000px) {
  .card {
   width: 840px;
  height: 480px;
  }
}

@media screen and (max-height: 800px) {
  .card {
    width: 300px;
    height: 400px;
  }
} */

.info {
  position: absolute;
  z-index: 20;
  top: 10px;
  left: 10px;
}

a {
  color: black;
  opacity: 80;
  text-decoration: underline;
}





