/* 基础公共样式：清除默认样式 + 设置通用样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html,body {
  font: 14px/1.5;
  color: #202F40;
  height: 100%;
  /* cursor: none; */
 /* 英文优先使用Poppins，中文使用微软雅黑/平方 */
  font-family: 'Poppins', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

a {
  color: #202F40;
  text-decoration: none;
}

/* --------------------------------字体引用-------------------------------- */
@font-face {
  font-family: 'Poppins';
  src: url("../font/Poppins/Poppins-Light.ttf");font-weight: 300;font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../font/Poppins/Poppins-Regular.ttf");font-weight: 400;font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../font/Poppins/Poppins-Medium.ttf");font-weight: 500;font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../font/Poppins/Poppins-Bold.ttf");font-weight: 600;font-style: normal;
}

@font-face {
  font-family: "DIN-Condensed";
  src: url("../font/DIN-Condensed-Bold-2.ttf");font-weight: normal;font-style: normal;
}




.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 版心 */
.wrapper {
  width: 80%;
  margin: auto;
  /* height: 100%;   */
}
.basic-padding {
  padding: 10vw 0;
  width: 100%;
}
:root {
  /* 左右边距 */
  --basic-margin: 10%;

  /* 主要背景 */
  --bg-color-light: #EEF0F7;
  --bg-color-dark: #051927;

  /* --card-bg-color: #fff; */
  --line-color: #EDEFF2;

  /* 主要主题颜色 */
  --first-color: #2384ff;
  /* --secend-color: #6a59d1; */
  /* --third-color: #777; */

  /* 字体颜色 */
  --text-color-1:#202F40;
  --text-color-2:#475669;
  --text-color-3:#78889d;
  --text-color-4:#9DAABF;

  /* 盒子阴影 */
  --box-shadow: -6px 6px 18px 0px rgba(208, 214, 227, 0.4),6px 6px 18px 0px rgba(189, 200, 223, 0.70);

  /* 字体大小 */
  --small-font-size: .9rem;
  --normal-font-size: 1rem;
  --middle-font-size: 20px;
  --big-font-size: 42px;
  --font-semi: 700;

  /* 滚动条 */

  --scrool-bar-color: #c5cadf;
  --scrool-thumb-color: #70768a;
  --scrool-thumb-hover-color: #454f6b;

  /* 雪碧图大小大小 */
  --electric-sprite-size: 170px;


}



/* 标题样式 */
.section-title{
    font-weight: 600;
    font-size: var(--big-font-size);
    text-transform: capitalize;
    display: inline-block;
}

.section-Subtitle {
    margin-top:  -6px;
    font-size: var(--middle-font-size);
    letter-spacing: 0.1rem;
    /* font-weight: 500; */
    color: var(--text-color-4);
    display: inline-block;
}
.subtitle-box {
    display: flex;
    align-items: center;
    gap: 16px;
    .highlight {
        font-size: 34px !important;
        height: 63px;
        color: var(--first-color);
    }
    margin-top: -2px;
}

.smooth-animation {
    /* 缓入缓出 */
    transition: all 0.6s ease-out;
}

/* 文字动画 */
.split-animate {
    display: block;
    width: 80%;
    max-width: 1000px;
}
.split-line {
    display: block;
    overflow: hidden;
    /* margin-bottom: 0.4em; */
}
.split-char {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
}

/* 返回按钮 */
.btn-back{
    position: absolute;
    font-size: 56px;
    color: #fff;
    top: 100px;
    left: 8%;
    z-index: 2;
}

.btn-back:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-out;

}

/* 鼠标 */
#cursor-circle {
  width: 20px;
  height: 20px;
  background-color: var(--first-color);
  border-radius: 50%;
  /* border: 1px solid #8e8d9c5d; */
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s linear, border 0.3s linear, width 0.2s linear, height 0.2s linear, opacity 0.7s 0.3s linear;
  pointer-events: none;
  z-index:999;
}

/* --------------------------------------头部------------------------------------------ */
.header{
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 123;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.mylogo{
  width: 84px;
  height: 24px;
  background-size: cover;
  background-image: url(../logo/logo.svg);
}

.header .wrapper {
  height: 100%;
  /* 垂直居中 */
  align-items: center;
  display: flex; 
  /* 两端对齐 */
  justify-content: space-between;
}
/* 导航 */
.nav {
  display: flex;
}
.nav a {
  font-size:var(--normal-font-size);
  color: #000;
  text-decoration: none;
  position: relative;
  margin-left: 80px;  
}
.nav a::after{
  content: '';
  width: 100%;
  height: 1px;
  /* currentColor可以获取当前元素或父元素的color */
  background-color: currentColor;
  position: absolute;
  left: 0;
  bottom: 0;
  /* 沿x轴缩放至隐藏 */
  transform: scaleX(0);
  /* 设置变换圆点为右 */
  transform-origin: right;
  /* 设置变换时的过渡 */
  transition: transform 0.3s ease-out;
}
.nav a:hover::after{
  /* 沿x轴缩放至显示 */
  transform: scaleX(1);
  /* 设置变换圆点为左 */
  transform-origin: left;
}
.burger {
  display: none;
  z-index: 10;
  .line {
    width: 100%;
    height: 2px;
    background: #000;
    border-radius: 8px;
  }
}


/* ---------------------------探索更多------------------------------- */
.explore-container {
  padding: 7vw 0;
}


.project-items {
    width: 100%;
    display: flex;
    gap: 2.5vw;
    align-items: flex-start; /* 新增：取消子项等高 */
    height: auto; /* 确保不固定高度 */
    margin-top: 60px;
}

.project-item {
  width: 100%;
}
.project-item .img-box {
    aspect-ratio: 5 / 3;
}

.distort-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 12px;
    /* 添加图像抗锯齿 */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.distort-container img {
    width: 100%;
    display: block;
    visibility: hidden; /* 隐藏原始图片，由Three.js渲染 */
}

.distort-canvas {
    display: block;
    width: 100%;
    height: 100%;

    /* 确保canvas渲染清晰 */
    image-rendering: optimizeQuality;


}


.project-title {
    display: flex;
    align-items: center;
    margin: 16px 0 0 0;
    max-width: 20vw;

}

.project-title  .hidden-arrow {
    color: var(--text-color-1);
    font-size: 20px;
    transform: scale(0);
    margin-right: 16px;
}
.project-title h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    transform: translateX(-34px);
    color: var(--text-color-1);



    white-space: nowrap;    /* 禁止换行 */
    overflow: hidden;       /* 隐藏溢出内容 */
    text-overflow: ellipsis; /* 超出显示省略号 */
}

.itemHover:hover {

    .hidden-arrow  {
        transform: scale(1);
        transition: all 0.4s ease-in-out ;
    }
    h2 {
        transform: translateX(0px);
        transition: all 0.5s  ease-in-out 0.1s;
    }
}


/* ------------------------------footer---------------------------------  */
.footer-box {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.footer-mask {
    background: var(--bg-color-light);
    z-index: 5;
    position: relative;
    border-radius: 0px 0px 30px 30px;
    transition: all 0.05s ease-out;

}

.footer {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(https://framerusercontent.com/images/759HGzVBpGp6cIMWIahr6JNxg4.png?scale-down-to=1024);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 bottom;
    background-color: #000;
    padding-top: 120px;
    overflow: hidden;
    color: #fff;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer h1 {
    font-size: 54px;
    font-weight: 500;
    position: relative;
    z-index: 2;
    text-align: center;
}
.footer p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    z-index: 2;
    margin-top: 24px;
    color: #ffffff7b;
}

/* 二维码 */
.text-QRcode {
  display: flex;
  margin-left: 180px;
  flex-shrink: 0;       /* 禁止Flex子项收缩 */
}

.QRcode-box {
  position: relative;
  width: 180px;
  height: 114px;
  margin-left: -18px;
  margin-top: 30px;
  z-index: 2;
  transform-origin: left top;
}
.QRcode {
  width: 100%;
  height: 100%;
  position: absolute;
    transform-origin: 61px 15px;
}
.footer-label-x {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 58px;
    top: -9px;
    transform-origin: 11px 28px;
    transform: rotate(15deg);
}
.QRcode-box:hover {
  .footer-label-x {
    transform: rotate(-20deg);
  }
  .QRcode-tag {
    transform: rotate(8deg);
  }
}
.text-final {
  margin-top: -56px;

}

.footer h5 {
    font-size: 12vw;
    font-weight: 600;
    letter-spacing: 12px;
    text-transform: uppercase;
    position: absolute;
    bottom: -14vh;
    opacity: 0.12;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-email {
    display: inline-flex;
    padding: 10px 30px;
    align-items: center;
    gap: 10px;
    border-radius: 100px;   
}

.footer-email {
    position: relative; /* 确保伪元素能正确定位 */
    z-index: 0; /* 为伪元素设置堆叠顺序 */
    width: fit-content; /* 使容器宽度适应内容 */
}

.footer-email {
    display: inline-flex;
    padding: 10px 30px;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    position: relative;
    margin-bottom: 40px;

    z-index: 5;
}

.footer-email::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    padding: 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}
/* 可选：为.footer-email添加额外的样式，如内边距、边框半径等 */

.footer h2 {
    font-size: 24px;
    font-weight: 400;
}
.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px 0 80px 0;
    z-index: 20;
    position: relative;
    gap: 24px;
}
/* ------icon链接------- */
.navLinks svg {
    font-size: 24px;
    color: #fff;
}

.navLinks li {
    width: 40px;
    height: 40px;
    border: #fff 1px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navLinks li:hover {
   background: #fff;
    /* transform: scale(1.12); */
    transition: all 0.3s ease-in-out;
    svg {
        color: #000;
    }
   
}

/* 装饰图 */
.footer-img1 {
    width: 200px;
    position: absolute;
    top: 4vw;
    left: 6%;
    filter: saturate(1.2);
}

.footer-img2 {
    width: 250px;
    position: absolute;
    bottom: 2vw;
    right: 6%;
}


