/* 基础公共样式：清除默认样式 + 设置通用样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html,body {
  font: 14px/1.5;
  color: #202F40;
  height: 100%;
 /* 英文优先使用Poppins，中文使用微软雅黑/平方 */
  font-family: 'Poppins', 'PingFang SC', 'Microsoft YaHei', sans-serif;  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch; /* 保留平滑滚动效果 */
}

a {
  color: #202F40;
  text-decoration: none;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .safari-fix {
      white-space: pre !important;
    }
  }

  html, body {
      overscroll-behavior-x: contain; /* 阻止边缘弹性滚动 */
      overflow-x: clip; /* 强制裁剪溢出 */
  }
}

/* --------------------------------字体引用-------------------------------- */
@font-face {
  font-family: 'Poppins';
  src: url("../font/Poppins-Regular.ttf");font-weight: 400;font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../font/Poppins-Medium.otf");font-weight: 500;font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("../font/Poppins-Bold.otf");font-weight: 600;font-style: normal;
}
@font-face {
  font-family: "Koulen";
  src: url("../font/Koulen-Regular.ttf");font-weight: normal;font-style: normal;
}
@font-face {
  font-family: "DIN-Condensed";
  src: url("../font/DIN-Condensed-Bold-2.ttf");font-weight: normal;font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../font/Aeonik-Regular.ttf");font-weight: normal;font-style: normal;
}



.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 版心 */
.wrapper {
  width: 84%;
  margin: auto;
  /* height: 100%;   */
}
.basic-padding {
  padding: 10vw 0;
}
:root {
  /* 主要背景 */
  --bg-color-light: #EDF0F7;
  --bg-color-dark: #051927;

  /* --card-bg-color: #fff; */
  --line-color: #EDEFF2;

  /* 主要主题颜色 */
  --first-color: #0A6BE7;
  /* --secend-color: #6a59d1; */
  /* --third-color: #777; */

  /* 字体颜色 */
  --text-color-1:#202F40;
  --text-color-2:#475669;
  --text-color-3:#78889d;
  --text-color-4:#9DAABF;

  /* 盒子阴影 */
  /* --box-shadow: 0px 0px 20px rgb(0 0 0 /10%); */

  /* 字体大小 */
  --small-font-size: .9rem;
  --normal-font-size: 1rem;
  --middle-font-size: 22px;
  --big-font-size: 48px;
  --font-semi: 700;

  /* color filet */
  --color-filter: invert(1);

  /* 滚动条 */

  --scrool-bar-color: #c5cadf;
  --scrool-thumb-color: #70768a;
  --scrool-thumb-hover-color: #454f6b;

}

html {
  /* 鼠标滚动平滑 */
  scroll-behavior: smooth;
}

/* 标题样式 */
.section-title{
    font-weight: 600;
    font-size: var(--big-font-size);
    text-transform: capitalize;
}

.section-Subtitle {
    margin-top:  -6px;
    font-size: var(--middle-font-size);
    letter-spacing: 0.1rem;
    /* font-weight: 500; */
    color: var(--text-color-4);
}
.subtitle-box {
    display: flex;
    align-items: center;
    gap: 16px;
    .highlight {
        font-size: 38px !important;
        height: 67px;
    }
    margin-top: -2px;
}

.smooth-animation {
    /* 缓入缓出 */
    transition: all 0.6s ease-out;
}

/* 返回按钮 */
.btn-back{
    position: absolute;
    font-size: 62px;
    color: #fff;
    top: 100px;
    left: 8%;
    z-index: 2;
}

.btn-back:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-out;

}

/* 鼠标 */
#cursor-dot {
  width: 10px;
  height: 10px;
  background: #5e616334;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1s linear;
  pointer-events: none;
  z-index:1000;
}

#cursor-circle {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: 1px solid #8e8d9c;
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s linear, border 0.3s linear, width 0.2s linear, height 0.2s linear, opacity 0.7s 0.3s linear;
  pointer-events: none;
  z-index:999;
}

/* --------------------------------------头部------------------------------------------ */
.header{
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 123;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.mylogo{
  width: 84px;
  height: 24px;
  background-size: cover;
  background-image: url(../logo/logo.svg);
}

.header .wrapper {
  height: 100%;
  /* 垂直居中 */
  align-items: center;
  display: flex; 
  /* 两端对齐 */
  justify-content: space-between;
}
/* 导航 */
.nav {
  display: flex;
}
.nav a {
  font-size:var(--normal-font-size);
  color: #000;
  text-decoration: none;
  position: relative;
  margin-left: 80px;  
}
.nav a::after{
  content: '';
  width: 100%;
  height: 1px;
  /* currentColor可以获取当前元素或父元素的color */
  background-color: currentColor;
  position: absolute;
  left: 0;
  bottom: 0;
  /* 沿x轴缩放至隐藏 */
  transform: scaleX(0);
  /* 设置变换圆点为右 */
  transform-origin: right;
  /* 设置变换时的过渡 */
  transition: transform 0.3s ease-out;
}
.nav a:hover::after{
  /* 沿x轴缩放至显示 */
  transform: scaleX(1);
  /* 设置变换圆点为左 */
  transform-origin: left;
}
.burger {
  display: none;
  z-index: 10;
  .line {
    width: 100%;
    height: 2px;
    background: #000;
    border-radius: 8px;
  }
}


