body {
    background-color:#051927;
}
/* --------------------------------------头部------------------------------------------ */
.header{
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 123;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  }
  
.mylogo{
    width: 84px;
    height: 24px;
    background-size: cover;
    background-image: url(../logo/logo-白.svg);
}
  
.header .wrapper {
    height: 100%;
    /* 垂直居中 */
    align-items: center;
    display: flex; 
    /* 两端对齐 */
    justify-content: space-between;
}
/* 导航 */
.nav {
    display: flex;
  }
.nav a {
    font-size:var(--normal-font-size);
    color: #ffffff;
    margin: 10px;
    text-decoration: none;
    position: relative;
    margin-left: 5.7rem;  
}
.nav a::after{
    content: '';
    width: 100%;
    height: 1px;
    /* currentColor可以获取当前元素或父元素的color */
    background-color: currentColor;
    position: absolute;
    left: 0;
    bottom: 0;
    /* 沿x轴缩放至隐藏 */
    transform: scaleX(0);
    /* 设置变换圆点为右 */
    transform-origin: right;
    /* 设置变换时的过渡 */
    transition: transform 0.3s ease-out;
}
.nav a:hover::after{
    /* 沿x轴缩放至显示 */
    transform: scaleX(1);
    /* 设置变换圆点为左 */
    transform-origin: left;
}
.burger {
    display: none;
}

/* ------------------------------------ 内容区 -------------------------------------- */

/* 全局样式（背景cover和video样式） */
.bg-cover {
    width: 100%;
    background-size: cover;
    position: relative;
    /* 饱和度 */
    filter: saturate(115%);
}
.video-style {
    position: absolute;
    height: auto;
    z-index: 1;
    border-radius: 10px;
    border: 3px solid transparent;
    background-image: linear-gradient(102deg, #76e6ffb8 0%,#27525b 30%,#0e778f 60%,  #76E6FF 99.84%);
    box-shadow: 0px 0px 40px 0px rgb(40 101 160 / 27%);
}
.img-cover {
    width: 100%;
    height: auto;
}

/* ---------------------------------------- */


.video1 {
    position: absolute;
    width: 58vw;
    height: auto;
    top: 8%;
    right: 7.5%;
    z-index: 1;
    border-radius: 8px;
    border: 2px solid transparent;
    background-image: linear-gradient(102deg, #76E6FF 0%,#27525b 30%,#0e778f 60%,  #76E6FF 99.84%);
    box-shadow: 0px 0px 80px 0px rgb(40 101 160 / 40%);
    /* 倒影 */
    -webkit-box-reflect: below 2px -webkit-linear-gradient(bottom, rgba(255,255,255,0.08) 0%, 
    transparent 14%, transparent 100%);
}
.light {
    position: absolute;
    width: 100%;
    bottom:0;
    mix-blend-mode: plus-lighter;
}

.pic1-title {
    width: 56vw;
    position: absolute;
    z-index: 2;
    top: 34vw;
    left: 7.5%;
}
/* ---------------------------------------2----------------------------------- */
.pic2-bg {
    position: relative;
    background-image: url(../img/visualization/bg1-word.png),url(../img/visualization/bg1.png);
    background-size: 100% auto;
    background-repeat:no-repeat;
    width: 100%;
    height: 115.1vw;
    overflow: hidden;
}

.container {
    margin-top: 75vw;
    margin-left: 18vw;
    display: flex;
    width: 93vw;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    flex-wrap: wrap;
    z-index: 10;
  }
  
  
  .container .card {
    position: relative;
    width: 15.5vw;
    height: 10.1vw;
    overflow: hidden;
    border-radius: 4px;
    background: linear-gradient(111deg, #236178a6 6.55%, rgb(82 136 175 / 29%) 84.19%, rgb(15 46 67 / 14%) 100%);
  }
  .card-boder1 {
    background: linear-gradient(111deg, #588a9d21 6.55%, rgb(30 90 131 / 44%) 70.19%, rgb(77 164 223 / 68%) 100%) !important;
  }
  .card-boder2 {
    background: linear-gradient(111deg, #3898bc85 6.55%, rgb(2 147 195) 84.19%, rgb(46 118 166 / 73%) 100%) !important;
  }
  .card-boder3 {
    background: linear-gradient(111deg, #2f4f5a6e 6.55%, rgb(24 134 213 / 55%) 60.19%, rgb(54 121 167 / 70%) 100%);
  }
  .card img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    filter: saturate(1.6);
  
  }
  .container .card::before {
    
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--clr), transparent, transparent);
    width: 500px;
    height: 500px;
    opacity: 0;
    border-radius: 4px;
    transition: .5s, top 0, left 0;
  }
  
  .container .card:hover:before {
    opacity: 1;
  }
  
  .container .card::after {
    content: '';
    position: absolute;
    inset: 1px ;
    background-color:  rgba(14, 32, 50, 0.7);
    border-radius: 4px;
    
  }
/* ---------3-------- */
.pic3 {
    height: 112vw;
    background-image: url(../img/visualization/文字3.png),url(../img/visualization/bg3.png);
}
.video2 {
    width: 62vw;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
}

.video3 {
    width: 62vw;
    top: 62%;
    right: 7.5%;
}
/* ---------4-------- */
.pic4 {
    height: 56vw;
    background-image: url(../img/visualization/bg4.png);
}
.video4 {
    width: 62vw;
    top: 18%;
    left: 7.5%;
}
/* ---------机器人/东宝-------- */
.robot {
    height: 52vw;
    overflow: hidden;
    background-image: url(../img/visualization/8.png);
}
.robot .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end
}
.pad-bg {
    width: 65vw;
    height: 37vw;
    background-image: url(../img/visualization/pad-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: -67.457px 110px 100px 0px rgba(6, 7, 7, 0.25), -13.491px 31.705px 70.156px 0px rgba(6, 7, 7, 0.80);
}
.pad-bg video{
    width: 64vw;
    border-radius: 14px;
}

/* ------------按钮--------- */

.fixed-buttons {
    /* position:fixed; */
    bottom: 40px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: auto;
    align-items: flex-start;
    /* overflow: hidden; */
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgb(27 66 102 / 30%) 100%); */
}
.fixed-buttons li {
    margin: 0 50px 0 50px;
}
.fixed-buttons a {
    font-size:var(--normal-font-size);
    color: #E3F5FF;
    text-shadow: 0px 2px 8px rgba(0, 178, 255, 0.65);
    text-decoration: none;
    position: relative;
    margin-left: 5.7rem;  
}
.fixed-buttons a::after{
    content: '';
    width: 100%;
    height: 1px;
    /* currentColor可以获取当前元素或父元素的color */
    background-color: currentColor;
    position: absolute;
    left: 0;
    bottom: 0;
    /* 沿x轴缩放至隐藏 */
    transform: scaleX(0);
    /* 设置变换圆点为右 */
    transform-origin: right;
    /* 设置变换时的过渡 */
    transition: transform 0.3s ease-out;
}
.fixed-buttons a:hover::after{
    /* 沿x轴缩放至显示 */
    transform: scaleX(1);
    /* 设置变换圆点为左 */
    transform-origin: left;
}












/* ------------------------------- 以上为默认样式 ----------------------------------- */
/* ------------------------------小于等于768px------------------------------- */
@media only screen and (max-width: 768px) {

    /* 头部导航样式 */

    .header {
        background: #fff;
        height: 48px;
        box-shadow: 0px 1px 0px 0px #EDEFF2;
    }
    .wrapper {
        width: 90%;
    }
    .mylogo {
        width: 56px;
        height: 16px;
        background-image: url(../logo/logo.svg);
    }

    .burger {
        display: block;
        width: 17px;
        height: 17px;
        background-image: url(../img/index/更多.svg);
    }
    .burger.close {
        background-image: url(../img/index/关闭.svg);
    }
    .header.open .nav {
        position: absolute;
        left: 0;
        top: 49px;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        color: var(--first-color);
        display: block;
        padding: 0 5%;
        opacity: 0;
        animation: slideDown 0.6s ease-out forwards;
    }
    @keyframes slideDown {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 100vh;
            opacity: 1;
        }
        }

    .nav {
        display: none;
    }

    .nav li {
        margin-top: 40px;
        
    }
    .nav a {
        font-size: 1.2rem;
        margin-left: 0;
        color: var(--text-color-1);
    }

    /* .video边框调整 */
    .video-style,.video1 {
        border: 1px solid transparent;
        border-radius: 4px;
    }

}