/* 基础公共样式：清除默认样式 + 设置通用样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html,body {
  font: 14px/1.5;
  color: #202F40;
  height: 100%;
  font-family: "PingFang SC","Microsoft YaHei", 'Poppins',Arial, sans-serif;
}

a {
  color: #202F40;
  text-decoration: none;
}

/* --------------------------------字体引用-------------------------------- */
@font-face {
    font-family: "Poppins-Bold";
    src: url("../font/Poppins-Bold.otf");font-weight: normal;font-style: normal;
}
@font-face {
  font-family: "Koulen";
  src: url("../font/Koulen-Regular.ttf");font-weight: normal;font-style: normal;
}
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4624662 */
  src: 
       url('//at.alicdn.com/t/c/font_4624662_swx6qhpiobr.woff2?t=1740910998867') format('woff2'),
       url('//at.alicdn.com/t/c/font_4624662_swx6qhpiobr.ttf?t=1740910998867') format('truetype');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
/* 版心 */
.wrapper {
  width: 85%;
  margin: auto;
  height: 100%;  
}

:root {
  /* 主要背景 */
  --body-bg-color: #e0e6ee;
  /* --card-bg-color: #fff; */
  --line-color: #EDEFF2;

  /* 主要主题颜色 */
  --first-color: #0A6BE7;
  /* --secend-color: #6a59d1; */
  /* --third-color: #777; */

  /* 字体颜色 */
  --text-color-1:#202F40;
  --text-color-2:#475669;
  --text-color-3:#9DAABF;

  /* 盒子阴影 */
  /* --box-shadow: 0px 0px 20px rgb(0 0 0 /10%); */

  /* 字体大小 */
  --small-font-size: .9rem;
  --normal-font-size: 1rem;
  --middle-font-size: 1.14rem;
  --big-font-size: 3rem;
  --font-semi: 700;

  /* color filet */
  --color-filter: invert(1);

  /* 滚动条 */

  --scrool-bar-color: #c5cadf;
  --scrool-thumb-color: #70768a;
  --scrool-thumb-hover-color: #454f6b;

}

html {
  /* 鼠标滚动平滑 */
  scroll-behavior: smooth;
}

/* --------------------------------------头部------------------------------------------ */
.header{
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 123;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.mylogo{
  width: 84px;
  height: 24px;
  background-size: cover;
  background-image: url(../logo/logo.svg);
}

.header .wrapper {
  height: 100%;
  /* 垂直居中 */
  align-items: center;
  display: flex; 
  /* 两端对齐 */
  justify-content: space-between;
}
/* 导航 */
.nav {
  display: flex;
}
.nav a {
  font-size:var(--normal-font-size);
  color: #000;
  margin: 10px;
  text-decoration: none;
  position: relative;
  margin-left: 5.7rem;  
}
.nav a::after{
  content: '';
  width: 100%;
  height: 1px;
  /* currentColor可以获取当前元素或父元素的color */
  background-color: currentColor;
  position: absolute;
  left: 0;
  bottom: 0;
  /* 沿x轴缩放至隐藏 */
  transform: scaleX(0);
  /* 设置变换圆点为右 */
  transform-origin: right;
  /* 设置变换时的过渡 */
  transition: transform 0.3s ease-out;
}
.nav a:hover::after{
  /* 沿x轴缩放至显示 */
  transform: scaleX(1);
  /* 设置变换圆点为左 */
  transform-origin: left;
}
.burger {
  display: none;
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 鼠标 */
#cursor-dot {
  width: 10px;
  height: 10px;
  background: #5e616334;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1s linear;
  pointer-events: none;
  z-index:1000;
}

#cursor-circle {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: 1px solid #8e8d9c;
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s linear, border 0.3s linear, width 0.2s linear, height 0.2s linear, opacity 0.7s 0.3s linear;
  pointer-events: none;
  z-index:999;
}


