body{
    background-color:var( --body-bg-color) ;
}
.star {
    /* 关闭宽高，有神奇效果 */
    /* width: 1px;
    height: 1px; */
    position: absolute;
  }

  .star:before {
    position: absolute;
    content: '\2726';
    inset: 0;
    box-shadow: 0 0 1em 0.1em #40324c;
  }
/* ----------------------------------1.作品集封面----------------------------------- */

.banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: 
    linear-gradient(155deg, rgba(253, 253, 251, 0.00) 24.5%, rgba(253, 253, 251, 0.50) 92.69%),
    linear-gradient(201deg, rgba(252, 252, 252, 0.00) 43.24%, rgba(252, 252, 252, 0.50) 83.72%);
}
.banner .tips {
    position: absolute;
    width: 113px;
    height: auto;
    left: 14vw;
    top: 7vw;
}
/* -------标签-------- */
.labels {
    margin-top: 4vw;
    width: 50%;
    height: 15vh;
    position: relative;
    /* transition: all 0.4s ease-out; */
    /* top: 60vh; */
    /* left: 25%; */
    z-index: 2000;
}
.labels .circles {
    width: 60px;
    height: 60px;
    position: absolute;
    transform: scale(0.8);
    transition: all 0.4s ease-out;
    box-shadow: 0px 4px 5.5px 0px rgba(18, 42, 89, 0.1);
    border-radius: 50px;

}
.labels .rectangles {
    width: 120px;
    height: 29px;
    position: absolute;
    transition: all 0.4s ease-out;
    box-shadow: 0px 4px 5.5px 0px rgba(18, 42, 89, 0.08);

}

.smile {
    transform: rotate(25deg);
    top: 13%;
    left:52%;
    z-index: 5;
}

.lamp {
    transform: rotate(-13deg);
    top: 7%;
    left: 58%;
    z-index: 6;
}
.design-pen {
    transform: rotate(3deg);
    top: -12%;
    left: 43%;
    z-index: 1;
}
.design-lable{
    transform: rotate(25deg);
    top: -3%;
    left: 48%;
}
.imagination{
    transform: rotate(12deg);
    top: 25%;
    left: 37%;
    z-index: 7;
}
.creativity {
    transform: rotate(-5deg);
    top: -4%;
    left: 54%;
    z-index: 4;
}



.banner-bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    /* background: linear-gradient(278deg, rgba(206, 222, 255, 0.30) 5.01%, rgba(246, 248, 252, 0.30) 9.36%, rgba(159, 221, 255, 0.30) 13.77%, rgba(250, 243, 252, 0.30) 16.11%, rgba(248, 249, 252, 0.30) 19.55%, rgba(105, 147, 255, 0.30) 24.99%, rgba(250, 230, 255, 0.30) 28.09%, rgba(255, 255, 255, 0.30) 34.83%, rgba(238, 237, 255, 0.30) 39.85%, rgba(152, 154, 255, 0.30) 43.69%, rgba(103, 154, 255, 0.30) 45.62%, rgba(174, 220, 255, 0.30) 47.51%, rgba(255, 255, 255, 0.30) 50.2%, rgba(255, 255, 255, 0.30) 55.59%, rgba(175, 199, 255, 0.30) 65.15%, rgba(255, 255, 255, 0.30) 76.48%, rgba(198, 216, 255, 0.30) 85.32%, rgba(255, 255, 255, 0.30) 91.78%, rgba(255, 255, 255, 0.30) 98.49%), #FBFBFC; */
    filter: blur(12px);
    background-image: url(../img/index/banner-bg.png);
    background-repeat: no-repeat; 
    background-size: 200vw 100vh;
    animation:banner-bg-flow 40s linear infinite; 
}

@keyframes banner-bg-flow{
    0%{
        background-position:0 0;

    }
    
    100%{
        background-position: -100vw 0;
    }

}

.banner .wrapper {
    height: 100%;
    padding-top: 10%;
    padding-bottom: 4%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}

.banner-title{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-left: 15%;
    font-family: "Koulen"; 
    align-items: baseline  
}
.banner h4 {
    color: var(--text-color-2);
    font-size: 22px;
    font-weight: 500;
    padding-top: 0.5vw;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: normal;
}
.banner p {
    width: 55vw;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #6b7a8c;
    margin: 1.5vw 0;
}
.banner h1 {
    color: var(--text-color-1);
    font-family: "Koulen";
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: 4.692px;
    text-transform: uppercase;
    height: 8vw;
}
.banner-label {
    display: inline-flex;
    height: 32px;
    transform: rotate(-13deg) ;
    transition: all 0.6s ease-out;
    transform-origin: left bottom;
    padding: 6px 20px;
    align-items: center;
    border-radius: 4px;
    background: #9DFC51;
    font-size: 1.1rem;
    color: var(--text-color-1);
    letter-spacing: 1px;
    position: relative;
    left: -8%;
}
/* ----------gif鼠标移入效果----------- */
.all-gif {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.6s ease-out;
}


/* 雪碧图 */
.sprite-container {
    width: 160px; /* Adjust to your frame width */
    height: 160px; /* Adjust to your frame height */
    background-repeat: no-repeat;
    display: inline-block;
    background-size:auto 100%;
} 
.sprite1 {
    position: absolute;
    right: 6%;
    top: 6%;
}
.sprite2 {
    position: absolute;
    left: 6%;
    top: 6%;
}
.sprite3 {
    position: absolute;
    left: 12%;
    bottom: 14%;
}
.sprite4 {
    position: absolute;
    right: 6%;
    bottom: 14%;
}




/* -------------个人经验等信息----------------- */
.banner-information {
    margin-top: 2.2rem;
    display: flex;
}
.banner li {
    display: flex;
}
.banner .number {
    font-size: 4.1rem;
    font-weight: 700;
    font-family: "DIN-Condensed";
    background: linear-gradient(180deg, #0C75F0 0%, #30A8FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner .unit {
    /* 上右下左 */
    margin: 0.7rem 0 0 0.28rem;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
}
.banner iframe {
    width: 112px;
    height: 8px;
}
.banner .one {
    padding-top: 0.4rem;
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
}
.banner .line {
    width: 1px;
    height: 2.8rem;
    background-color: rgba(51, 52, 59, 0.20);
    margin-top: 0.8rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}
.banner .two {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.banner-roll {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, #0160E5 0%, #3EA9EC 69.27%, #AAEBFF 98.96%);
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.banner-roll .roll{
    display: flex;
    position: absolute;
    left: 0px;
}
.banner-roll span {
    margin:0 38px;
    text-transform: uppercase;
    /* 强制文字不换行 */
    white-space: nowrap;
}
/* 文字动画 */
.banner-roll .roll{  
    animation:text-roll 30s linear infinite;   
}
@keyframes text-roll{
    0%{
        transform:  translateX(0px);
    
    }
    
    100%{
        transform:  translateX(-1442px);
    }
}




/* -------------------------------2.个人资料banner----------------------------- */
.personal {
    width: 100%;
    /* height: 960px; */   
    background-repeat: no-repeat; 
    position: relative;
    overflow: hidden;
    animation:bg-flow 15s linear infinite;  
    background-image: 
    radial-gradient(closest-side, rgba(53, 179, 211, 0.55), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(99, 53, 211, 0.25), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(255, 236, 31, 0.3), rgba(235, 105, 78, 0)),
    url(../img/index/个人信息bg.png);

    
}
@keyframes bg-flow{
    0%,100%{
        background-size: 600px 600px, 34vw 34vw,500px 500px,100% auto;
        background-position:-225px 16vw,10vw 12vw,5vw 16vw,0 0; 
    }
    
    30%{
        background-size: 500px 500px, 40vw 40vw,450px 450px,100% auto;
        background-position:8vw 14vw,-200px 8vw,20vw 26vw,0 0; 
    }
    60%{
        background-size: 600px 600px, 26vw 26vw,600px 600px,100% auto;
        background-position:12vw 16vw,12vw 6vw,-220px 20px,0 0; 

    }
}
.bg-decoration {
    font-size: 200px;
    position: absolute;
    left: 45%;
    top: 32%;
    opacity: 0.1 !important;
}

.personal-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.myphoto {
    width: 16vw;
    margin: 8vw 0 10px 0;
}

.name {
    color: var(--text-color-1);
    font-size: 1.8rem;
    font-weight: 800;
    width: 8em;
}


@keyframes typingWords {
    0% {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.skill-tags {
    display: inline-flex;
    gap: 12px;
    /* 自动换行 */
    flex-wrap: wrap;
    margin-top: 16px;
    /* 缓入缓出 */
	transition: all  ease-out;
}
.skill-tags li {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 37px;
    color: #000;
    border: 1px solid #000;
}
/* -------下载简历按钮样式-------- */
.button-3d{
    /* transform-style: preserve-3d; /* 使子元素保持3D空间 */
    /* perspective: 500px; 设置透视距离 */
}
.download-button {
    /* transform: rotatez(5deg);  */
    transform-origin: right bottom 0;
    display: inline-flex;
    padding: 8px 36px 8px 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    color: #fff;
    background: var(--first-color);
    box-shadow: 0px 4px 20px 0px rgba(10, 107, 231, 0.40);
    white-space: nowrap;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 450% 0;
    }
}

.button-3d a:hover{
    background: linear-gradient(90deg,#03a9f4,#45C496,#03a9f4,#B450CD,#03a9f4);
    animation: animate 8s linear infinite;
    background-size: 450%;
    color: #fff;
    border: 0px solid #000;
    box-shadow: 0px 4px 20px 0px rgba(10, 107, 231, 0.40);
}

/* 下载箭头移动动画 */
.download-button .arrow{
    width: 30px;
    height: 18px;
    animation:arrow 1s linear infinite;  

}
.download-button .arrow .iconfont {
    font-size: 14px;
}

@keyframes arrow{
    0%{
        transform:  translateX(0px);
    
    }
    50% {
        transform:  translateX(10px);
    }
    100%{
        transform:  translateX(0px);
    }
}

/* ------------下方工作经历------------- */
.work-experience{
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    padding: 38px 40px 35px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(225, 232, 251, 0.80) inset;
    backdrop-filter: blur(3px);

}

/* ------------------时间线样式------------------- */

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.timeline-item {
    position: relative;
    width: 30%;
    /* height: 280px; */
}

.timeline-item:first-child::before {
    display: block;
}


.timeline-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    z-index: 0;
    width: 1px;
    height: 98%;
}

.timeline-item::before,
hr {
    /* 时间线 */
    border-left: 1px dashed #C7D0D9;
}

.timeline-axis {
    position: absolute;
    left: -5px;
    top: 0;
    z-index: 10;
    width: 20px;
    height: 20px;
    line-height: 20px;
    /* 圆点颜色 */
    background-color: #EDF1F8;
    color: #5FB878;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.icon {
    font-family: layui-icon !important;
    font-size: 16px;
    font-style: normal;
}

.timeline-content {
    padding-left: 25px;
    /* 内容文字样式 */
    line-height: 22px;
    color: #666;
    top:-10px;
}

/* 入职时间样式 */
.timeline h4 {
  position: relative;
  margin-bottom: 8px;
  font-weight: 400;
  color: #4C5A72;
}
/* 标题文字样式 */
.timeline .company {
    font-size: var(--middle-font-size);
    font-weight: 600;
    display: block;
    width: 300px;
    color: #34495E;
    margin-bottom: 12px;
}
/* 职务标签 */
.company-duties{
    display: inline-flex;
    padding: 3px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(10, 107, 231, 0.10);
    color: var(--first-color);
    font-size: var( --small-font-size);
    margin-bottom: 12px;
}

.timeline span {
  color: var(--first-color);
}

.timeline-content p {
    color:var( --text-color-2);
    line-height: 179.5%;
}

/* 圆点样式 */
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #71A3FF;
    margin-top: 4px;
    /* margin-left: 4px */
}
/* ----------------------------------------------------- */

.emoji {
    width: 200px;
    position: absolute;
    top: 9vw; 
    right: 2vw;
    /* 缓入缓出 */
	transition: all 0.6s ease-out;

}

/* ----------------------------------------3.目录---------------------------------------- */
.content {
    width: 100%;
    padding: 8vw 0 6vw 0;
    position: relative;  
    background-repeat: no-repeat;
    background-size:35vmax 35vmax,30vmax 30vmax, 100% auto, 100% auto;
    background-position:-9vw 30vw,80vw 4vw,0 0,0 0; 
    background-image:    
    radial-gradient(closest-side, rgba(36 184 255 / 10%), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(47 89 255 / 10%), rgba(235, 105, 78, 0)),
    url(../img/index/content-bg.png),
    linear-gradient(180deg, rgba(216, 238, 255, 0.00) 0%, #c6ddf2 100%);
    margin-top: 10vw;
    
}
.text-box {
    width: 100%;
    height: 38vw;
    position: absolute;
    top: -4vw;
    z-index: -1;
    overflow: hidden;
}
.text-incline{
    margin-top: 6vw;
    transform: rotate(-10deg);

}
.Stroke {
    color: #dae2ec; /* 描边颜色 */
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-family:"Poppins-Bold";   
    letter-spacing: 10px;
    text-transform: uppercase;
    /* transform: rotate(-10deg); */
    opacity: 0.1;
    white-space: nowrap;
    transition: all 0.6s ease-out;
}
.p-left {
    font-size: 135px;
    position: relative;
    left: -1500px;
}
.p-right {
    font-size: 135px;
}
.all-title{
    font-family: "Poppins-Bold";
    font-size: var(--big-font-size);
    text-transform: capitalize;
    margin-bottom: 4px;
}

.Subtitle {
    margin-top:  -6px;
    font-size: var(--middle-font-size);
    margin-bottom: 3vw;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: var(--text-color-3);
}
.content-items {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 80px; */
}
.content-item {
    position: relative;
    width: 27vw;
    border-radius: 17px;
    border: 1.5px solid #FFF;
    background: #FFF;
    /* 缓入缓出 */
	transition: all 0.5s ease-out;
    box-shadow: 0px 0px 30px 0px rgba(225, 232, 251, 0.80) inset;
    transform: translateY(-10px) scale(0.96);
}

.content-item:hover {
    box-shadow: 0px 0px 30px 0px rgba(225, 232, 251, 0.80) inset, 0px 14px 20px 0px rgba(75, 102, 116, 0.15);
    .content-img img {
        transform: scale(1.05);
        opacity: 0.8; 
    }
    .content-img {
        background-color: #000000;
    }
    .design-title .item-arrow .arrow-gif {
        animation:arrow2 0.6s ease-out infinite; 
        animation-iteration-count: 1;
    
    }

}

.arrow-gif .iconfont {
    font-size: 14px;
}
.content-item a {
    display: block;
    padding: 15px 15px 24px 15px;
}

.content-img {
    position: relative;
    display: inline-block; /* 或者根据你的布局需要设置为 block */
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.1s;

}

.content-img img {
    display: block; /* 确保图像填充容器 */
    width: 100%;    /* 根据需要调整图像大小 */
    height: auto;   /* 保持图像比例 */
    transition: all 0.5s ease-in-out 0.1s;
}
.content .number {
    margin-top: 1.2rem;
    margin-left: 8px;
}
.design-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.design-title .title {
    display: inline-flex;
    flex-direction: column;
}
.design-title .item-arrow {
    width: 34px;
    height: 34px;
    border-radius: 28px;
    display: flex;
    border: 1px solid var(--line-color);
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    overflow: hidden;
    transform: rotate(-30deg);
}

@keyframes arrow2{
    0%{
        transform:  translateX(-30px);
    
    }

    100% {
        transform:  translateX(0px)
    }
}

.content h2 {
    font-size: 2rem;
    margin-top: -2rem;
    margin-bottom: 0.4vw;
    margin-left: 8px;
    font-style: italic;
}

.content-labels {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    margin-left: 8px;
}
.content-label {
    display: flex;
    padding: 6px 19px;
    align-items: flex-start;
    gap: 16px;
    border-radius: 22px;
    border: 1px solid var(--475669, #475669);
    white-space: nowrap;
}

/* -----3d靶子------ */
.target {
    width: 92px;
    position: absolute;
    top: 8.2vw; 
    left: 17vw;
    /* 缓入缓出 */
	transition: all 0.6s ease-out;
}
/* -------------------------------------4.3d设计--------------------------------- */
/* 旋转金属 */
.metal {
    position: absolute;
    width: 5vw;
    top: 12vw;
    left: 22vw;
    /* 缓入缓出 */
	transition: all 0.6s ease-out;
}
.design-3d {
    width: 100%;
    /* height: 100vh; */
    padding: 12vw 0 16vw 0;
    position: relative; 
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 54vmax 25vmax,35vmax 35vmax;
    background-position: 70vw 20vw,-9vw -12vw;
    background-image: 
    radial-gradient(closest-side, rgba(192 206 224), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(36 184 255 / 10%), rgba(235, 105, 78, 0));
    box-shadow: 0px -8px 15px 0px #c6ddf2;
}
.design-3d .all {
    width: 100%;
    height: 100%;
}
.design-3d .left {
    margin-left: 7.5%;
}
.play img {
	transition: all 0.6s ease-out;
}

.video-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: -2;
    background: linear-gradient(180deg, #c6dcf2 0%, rgba(216, 238, 255, 0.00) 100%);

}
.design-3d .Stroke {
    font-size: 120px;
    position: absolute;
    opacity: 0.06;
    /* bottom: 0; */
}

.myVideo{
    width: 60%;
    height: 47%;
    object-fit: cover;
    position: absolute;
    top: 5vw;
    left: 40vw;
    z-index: -1;
    opacity: 1;
    filter: saturate(1.2); /* 增加饱和度 */
    box-shadow: -20px 0px 100px 17px #c6dcf3ab;
} 

.video-hidden {
    display: none;
  }

/* -----图片切换------*/
.carousel-container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 43vw; /* 大图片的宽度 */
    height: 24vw; /* 大图片的高度 */
    margin: 1vw 0 0 0;
    
}

.carousel div {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s, transform 0.5s;
    /* opacity: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-out;
    overflow: hidden;

}

.carousel div.active {
    opacity: 1;
    z-index: 2;
    transform: scale(1);
}

.carousel div.next,
.carousel div.prev {
    width: 60%; /* 小图片的宽度 */
    height: 60%; /* 小图片的高度 */
    opacity: 1;
    z-index: 1;
    border-radius: 10px;
    /* transform: scale(1); */
}

.carousel div.next {
    top: 20%; /* 调整小图位置 */
    left: 110%;
    transform: translate(0%, 0%)scale(0.98);
}

.carousel div.prev {
    top: 20%; /* 调整小图位置 */
    left: 0;
    opacity: 0;
    
    transform: translate(-20%, 0) scale(0.98);
}

.carousel-button {
    margin-right: 10px;
    cursor: pointer;
}

.carousel-button.disabled {
    pointer-events: none;
    opacity: 0.3;
}
.nav-buttons {
    width: 20vw;
    display: flex;
    margin-left: 7.5%;
}
/* -----按钮hover效果------*/
.readmore-button {
    /* transform: rotatez(5deg);  */
    transform-origin: right bottom 0;
    display: inline-flex;
    padding: 8px 36px 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    color: #fff;
    background: var(--first-color);
    box-shadow: 0px 4px 20px 0px rgba(10, 107, 231, 0.40);
    white-space: nowrap;
}
.readmore-button .arrow iframe{
    width: 19px;
    height: 14px;
}
#prevBtn {
    margin-right: 8px;
}
@layer components {
    .scroller-controls {
        direction: ltr;
        display: grid;
        gap: var(--size-4);
        grid-auto-flow: column;

        @media (width < 1024px) {
            display: none;
        }
    }

    .scroller-controls-btn {
        --_arrow-translate: 1 0;
        background-color: transparent;
        border-width: 0;
        cursor: pointer;
        display: inline-grid;
        padding: 0;
        place-items: center;
        transition-duration: 0.2s;
        transition-property: color, opacity, scale;
        transition-timing-function: var(--ease-3);

        &:hover {
            color: var(--first-color);
            scale: 1.07;
        }


        .arrow {
            transition: translate 0.2s var(--ease-3);
            translate: var(--_arrow-translate);
        }


        &:active {
            scale: 0.98;
        }

        &:disabled {
            scale: 1;
            opacity: 0.2;
            color: var(--text-1);
            cursor: not-allowed
        }


        &.prev-btn:hover:not(:disabled) {
            --_arrow-translate: -4px 0;
        }

        &.next-btn:hover:not(:disabled) {
            --_arrow-translate: 4px 0;
        }

    }
}


@layer components {
    .btn-base {
        background-color: var(--first-color);
        border-width: 0;
        color: var(--first-color);
        cursor: pointer;
        display: inline-grid;
        font: var(--label-small);
        min-block-size: var(--button-primary-small-screen-min-block-size);
        min-inline-size: var(--button-primary-small-screen-min-inline-size);
        padding-block: var(--button-primary-small-screen-padding-block);
        padding-inline: var(--button-primary-small-screen-padding-inline);
        place-items: center;
        text-decoration: none;

        @media (width >=1024px) {
            font: var(--label-large);
            min-block-size: var(--button-primary-large-screen-min-block-size);
            min-inline-size: var(--button-primary-large-screen-min-inline-size);
            padding-block: var(--button-primary-large-screen-padding-block);
            padding-inline: var(--button-primary-large-screen-padding-inline);
        }
    }

    .btn-group {
        display: inline-grid;
        grid-auto-flow: column;
        place-items: center;
    }

    .btn-text {
        background-color: var(--brand-color);
        grid-area: 1/1;
        z-index: var(--layer-1);
    }

    .btn-svg {
        margin-inline-start: -40px;
        opacity: 0;
        transition-duration: 0.3s;
        transition-property: margin-inline-start, opacity;
        transition-timing-function: var(--ease-in-out-3);

        .btn-base:hover & {
            opacity: 1;
            margin-inline-start: 0;
        }
    }

}


/* -----hover */
.carousel img{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
    left: 0;
    z-index: 1;
}
.carousel .hide{
    width: 100%;
    height: 100%;
    z-index: 2 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #0000001d;
    opacity: 0;
    /* display: none; */
 }
 .carousel iframe{
    height: 64px;
    width: 64px;
 }
 .carousel .hide p {
    color: #fff;
 }
 .carousel .active:hover {
    .hide {
        opacity: 1;
    }
    img {
        transform: scale(1.05);
    }
 }
/* -------------------------------------5.其他设计--------------------------------- */
.other-designs {
    padding: 5vw 0 5vw 0;
    width: 100%;
    text-align: center;
    position: relative;  
    background-image: 
    radial-gradient(closest-side, rgba(14, 207, 255, 0.2), rgba(235, 105, 78, 0));
    background-size:800px 800px;
    background-position:-200px -4vw; 
    background-repeat: no-repeat;
    overflow: hidden;
}
.img-roll {
    border-radius: 32px;
    background: #161B29;
    margin-top: 4vw;
    /* height: 700px; */
    /* 相对定位 */
    position: relative;
    /* 溢出隐藏 */
    overflow: hidden;
    transform: translateY(-20px) scale(0.96);
    /* 缓入缓出 */
    transition: all 0.8s  ease-out;
}



.img-roll ul {
    /* overflow: hidden; */
    display: flex;
    position: relative;
    margin-top: 70px;
    right: 0px;
}
.img-roll li{
    height: 168px;
    padding-right: 40px;    
}
.img-roll img{
    width: 300px;
    height: 168px;
    border-radius: 6px;
    /* 保持原有尺寸比例，裁切长边 */
    object-fit: cover;
    /* 图片定位正中间 */
    object-position: center;
}

.img-roll .one {
    overflow: hidden;
}
.text-scroll {
    margin-top: 60px;
    display: flex;
    
}
.text-scroll span{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #fff;
    font-family: "Koulen";
    margin:0 40px;
    /* 强制大写 */
    text-transform: uppercase;
    /* 强制文字不换行 */
    white-space: nowrap;
}

/* 向右动画（或js实现） */
.scroll-right {
    left:-2000px; 
}
.right-list{  
    animation:scroll-right 30s linear infinite;   
}
@keyframes scroll-right{
    0%{
        transform:  translateX(0px);
    
    }
    
    100%{
        transform:  translateX(2040px);
    }
}

/* 向左动画 */
.scroll-left {
    box-shadow: 0px 10px 0px 0px #161B29 ; 
}
.left-list{  
    animation:first 30s linear infinite;   
}

@keyframes first{
    0%{
        transform:  translateX(0px);
    
    }
    
    100%{
        transform:  translateX(-2040px);
    }
}

/* 鼠标悬停动画停止 */
/* .img-roll ul:hover {
    .left-list{
        animation-play-state: paused;
    }
    .right-list{
        animation-play-state: paused;
    }
} */
/* -----3d钢笔------ */
.pen {
    width: 130px;
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    /* 缓入缓出 */
	transition: all 0.6s ease-out;
}


/* 重力掉落 */
.tag-canvas {
    margin-left: 2%;
    width: 50%;
    max-width: 1920px;
    height: 150px;
    border: 1px solid #151b29;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  

  .tag {
    /* left: 5%; */
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 36px;
    height: 36px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fff;
    pointer-events: none;
    border-radius: 50px;
  }
  
.tag .iconfont {
    font-size: 22px;
}

/* ------------------------------- 以上为默认样式 ----------------------------------- */
   /* 一定要将媒体查询的样式放在默认样式之后，否则媒体查询会被默认样式覆盖，也就无法针对不同设备进行变化。 */
  
 @media only screen and (max-width: 1620px) {
    .content h2 {
        font-size: 1.5rem;
    }
    .content-label {
        padding: 3px 19px;
    }
}  


/* ---------------------------------------小于等于1190px--------------------------- */
@media only screen and (max-width: 1190px) {
    .myvideo {
        height: auto;
    }
    .banner {
        height: 49vw;
        position: relative;
    }
    .content-labels {
        flex-wrap: wrap;
        gap: 8px 16px;
    }
}
/* ---------------------------------------小于等于1100px--------------------------- */
@media only screen and (max-width: 1100px) {

    body {
        background-position: -225px 66vw,80vw 115vw,-225px 200vw;
    }
    .skill-tags li {
        font-size: var(--small-font-size);
    }
    .emoji {
        width: 160px;
        top: 7vw;
    }
    .timeline {
        flex-direction: column;
        align-items: center;
    }
    .timeline-item{
        width: 100%;
        padding-bottom: 24px;
    }
    .timeline-item::before {
        height: 100%;
    }
    .content-item a{
        padding: 10px 10px 15px 10px;
    }
    h1,.English {
        font-size: 2.5rem;
    }
    .English {
        margin-bottom: 5vw;
    }
    .target {
        width: 84px;
    }
    .pen {
        width: 140px;
    }

}


/* ------------------------------小于等于768px------------------------------- */
@media only screen and (max-width: 768px) {
    /* 头部导航样式 */
    .header {
        background-color: #fff;
        height: 48px;
        box-shadow: 0px 1px 0px 0px #EDEFF2;
    }
    .wrapper {
        width: 90%;
    }
    .mylogo {
        width: 56px;
        height: 16px;
        background-image: url(../logo/logo.svg);
    }

    .burger {
        display: block;
        width: 17px;
        height: 17px;
        background-image: url(../img/index/更多.svg);
    }
    .burger.close {
        background-image: url(../img/index/关闭.svg);
    }
    .header.open .nav {
        position: absolute;
        left: 0;
        top: 49px;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        color: var(--first-color);
        display: block;
        padding: 0 5%;
        opacity: 0;
        animation: slideDown 0.6s ease-out forwards;
    }
    @keyframes slideDown {
        from {
          height: 0;
          opacity: 0;
        }
        to {
          height: 100vh;
          opacity: 1;
        }
      }
      @keyframes bg-flow{
        0%,100%{
            background-image: 
            url(../img/index/个人信息bg.png),
            radial-gradient(closest-side, rgba(53, 179, 211, 1), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(99, 53, 211, 0.4), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(255, 236, 31, 0.9), rgba(235, 105, 78, 0));
            background-size: 100% auto,600px 600px, 400px 400px,500px 500px;
            background-position:0 0,-225px 16vw,10vw 12vw,5vw 16vw; 
        }
        
        30%{
            background-image: 
            url(../img/index/个人信息bg.png),
            radial-gradient(closest-side, rgba(53, 179, 211, 1), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(99, 53, 211, 0.4), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(255, 236, 31, 0.9), rgba(235, 105, 78, 0));
            background-size: 100% auto,500px 500px, 440px 440px,450px 450px;
            background-position:0 0,14vw 8vw,-200px 60px,20vw 13vw; 
        }
        60%{
            background-image: 
            url(../img/index/个人信息bg.png),
            radial-gradient(closest-side, rgba(53, 179, 211, 1), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(99, 53, 211, 0.4), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(255, 236, 31, 0.9), rgba(235, 105, 78, 0));
            background-size: 100% auto,600px 600px, 300px 300px,600px 600px;
            background-position:0 0,20vw 16vw,12vw 3vw,-220px 30px; 
        }
    }

    @keyframes content-flow {
        0% ,100%{
            background-image: 
            radial-gradient(closest-side, rgba(14, 207, 255, 0.1), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(147, 52, 255, 0.2), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(52, 184, 255, 0.4), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(255, 236, 31, 0.2), rgba(235, 105, 78, 0));
            background-size:440px 440px, 440px 440px, 300px 300px, 440px 440px;
            background-position:-200px 16vw,80vw 20px,10vw 6vw,80vw 12vw; 
        }
        30%{
            background-image: 
            radial-gradient(closest-side, rgba(14, 207, 255, 0.1), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(147, 52, 255, 0.2), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(52, 184, 255, 0.4), rgba(235, 105, 78, 0))，
            radial-gradient(closest-side, rgba(255, 236, 31, 0.2), rgba(235, 105, 78, 0));
            background-size:440px 440px, 640px 640px, 500px 500px, 300px 300px;
            background-position:-200px 16vw,20vw 12px,30vw 40vw,70vw 8px,; 
        }
        60%{
            background-image: 
            radial-gradient(closest-side, rgba(14, 207, 255, 0.1), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(147, 52, 255, 0.2), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(52, 184, 255, 0.4), rgba(235, 105, 78, 0)),
            radial-gradient(closest-side, rgba(255, 236, 31, 0.2), rgba(235, 105, 78, 0));
            background-size:440px 440px, 460px 460px, 350px 350px, 300px 300px;
            background-position: -200px 16vw, 60vw 12vw, 80vw 4vw,80vw 18vw;
        }
    }

    .nav {
        display: none;
    }

    .nav li {
        margin-top: 40px;
        
    }
    .nav a {
        font-size: 1.2rem;
        margin-left: 0;
    }
    


    /* banner样式 */
    .myvideo {
        top: 48px;
    }
    .banner {
        top: 48px;
        height:57vw;
        position: relative;
    }
    .banner .wrapper {
        padding-top: 10%;
    }
    .banner-phone {
        display: none !important;
    }
    .banner-information {
        width: 100%;
        height: 60px;
        margin: auto;
        border: 1px solid #FFF;
        background: linear-gradient(180deg, #EAEEF5 0%, #F8F9FC 100%);
        box-shadow: 0px 7px 20px 0px rgba(102, 119, 124, 0.25);
        z-index: 20;
        position: absolute;
        justify-content: center;
        overflow: hidden;
        bottom: -2%;
        left: 0%;
    }
    .banner-information li {
        margin-left: 5%;
        width: 45%;
        overflow: hidden;
        margin-top: 4px;
    }
    .banner .number {
        font-size: 3rem;
    }
    .banner .unit {
        margin: 1.7rem 0 0 0.3rem;
        font-size: var(--small-font-size);
    }
    .banner iframe {
        display: none;
    }
    .banner .one {
        align-items: flex-start;
        flex: 1;
    }
    .banner .line {
        margin: auto 0;
    }
    .banner .none {
        display: none !important;
    }
    .information-number {
        display: flex;
    }
    .banner p {
        /* 禁止换行 */
        white-space: nowrap;
        /* 超出省略 */
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: var(--small-font-size);
    }
    .banner-img {
        position: absolute;
        top: 52%;
        width: 2vw;
    }

    .content-items{
        flex-wrap: wrap;
        /* margin-bottom: 24px; */
        gap: 20px;
    }
    .content-item {
        width: 100%;
    }
    .content-item:hover {
        /* 鼠标移入元素沿Y轴上移 */
        transform: translateY(0px);
        box-shadow: 0px 0px 30px 0px rgba(225, 232, 251, 0.80) inset, 0px 14px 20px 0px rgba(75, 102, 116, 0.15);
        .content-img img {
            transform: scale(1);        
        }
    }
    .content-item a{
        padding: 15px 15px 24px 15px;
    }
    .content h2 {
        margin-top: -2.5rem;
        margin-bottom: 1vw;
    }
    .emoji {
        width: 146px;
        top: 21vw;
    }
    .myphoto {
        width: 34vw;
        margin: 24vw 0 10px 0;
    }
    .work-experience {
        padding: 30px 24px 30px 24px;
    }
    .other-designs {
        height: 900px;
    }
    .text-scroll span {
        font-size: 2rem;
        margin: 0 10px;
    }

}

/* ---------------------------------小于等于465px------------------------------- */
@media only screen and (max-width: 465px) {
    .banner {
        height: 61vw;
    }
    .personal-top {
        flex-direction: column;
        align-items: flex-start;
    }
    .download-button {
        margin-top: 24px;
    }
    .skill-tags{
        white-space: nowrap;
        /* flex-wrap: nowrap; */
    }
    .emoji {
        width: 122px;
    }
    .target {
        width: 70px;
        top: 10.2vw;
    }
    .pen {
        width: 112px;
        top: -8vw;
    }


}
/* ---------------------------------------小于等于386px--------------------------- */
@media only screen and (max-width: 386px) {
    .banner p {
        width: 80px;
    }
    .banner {
        height: 62vw;
    }
    .timeline-item {
        width: 82% ;
    }
    .myphoto {
        margin: 30vw 0 10px 0;
    }



}
